@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family:Outfit;
}

@layer base {
  html{
    scroll-behavior: smooth;
  }
}
::-webkit-scrollbar{
  display: none;
}

/* Rich Text Styling */
.rich-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4 {
  font-weight: 600;
  margin: 16px 0 8px;
}

.rich-text p {
  margin-bottom: 12px;
}

.rich-text ul,
.rich-text ol {
  margin-left: 1.5rem;   /* indent */
  margin-bottom: 16px;
}

.rich-text li {
  list-style-type: disc;  /* bullets */
  margin-bottom: 6px;
}

.rich-text strong {
  font-weight: 600;
}

.rich-text a {
  color: #2563eb;         /* blue link */
  text-decoration: underline;
}

.rich-text img {
  max-width: 100%;
  border-radius: 6px;
  margin: 12px 0;
}
